body {
    background-color: rgba(0, 255, 255, 0.274);
}

div.first-section{
    padding: 20px;
}

img{
    width: 300px;
}

ul{
    white-space: 4px;
    line-height: 20px;
}

li{
    list-style: none;
}
