<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./static/backgroundStyle.css" />
    <title>Back ground gen</title>
  </head>
  <body>
    <div class="container">
      <div class="row"><h1>Background Generator</h1></div>
      <div class="row">
        <div class="col">
          <input type="color" name="" id="color1" value="#fbff00" />
          <input type="color" name="" id="color2" value="#3c0052" />
        </div>
      </div>
      <div class="row">
        <p class="result">
          linear-gradient(90deg,rgb(251, 255, 0),rgb(60, 0, 82));
        </p>
      </div>
      <div class="row">
        <div>
          <a href="./index.html"><button class="btn btn-dark">Back</button></a>
        </div>
      </div>
    </div>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>
    <script src="./static/color.js"></script>
  </body>
</html>
