<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./static/style.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <div class="col-6">
        <div class="container first-section">
          <form action="submit" method="post">
            <input type="text" placeholder="username" name="username" />
            <input type="password" placeholder="password" name="password" />
            <input type="submit" value="Submit" />
          </form>
          <br />
          <a href="\" target="_blank"
            ><button type="button" class="btn btn-dark">Show users</button></a
          >
          <hr />
          <div class="container">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-dark" id="click-me">
                  Click Me
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img src="./static/potato.jpg" alt="img" id="myImage" />
              </div>
            </div>
          </div>
        </div>
        <div class="container footer">
          <input type="text" />
          <input type="submit" class="submit" value="Add item" />
          <ul>
            <li>ahmad</li>
            <li>ali</li>
            <li>fish</li>
            <li>container</li>
            <li>OGAC</li>
            <li>GAC</li>
            <li>LT</li>
            <li>Silh</li>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <a href="./background.html"
          ><button class="btn btn-dark">Back ground generator</button></a
        >
      </div>
    </div>

    <script src="./static/bootstrap/js/bootstrap.min.js"></script>
    <script src="./static/script.js"></script>
  </body>
</html>
