h1{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.col-1 { width: 100px; }
.col-3 { width: 500px }


[class*="col-"]{
    display: grid;
    place-items: center;
    height: 70px;
    border-radius: 2px;
    border: 1px rgba(0, 0, 0, 0.482) solid;
}

#result{
    width: 500px;
}

* {
    box-sizing: border-box;
}
div.container{
    margin-bottom: 40px;
}

.container{
    display: block;
    margin: auto;
    font-size: 50px;
}

div.container button{
    width: 100px;
    height: 70px;
    font-size: 40px;
}

div.container button.equal{
    width: 500px;
    
}

a button{
    margin: 10px;
}